WebRoot/WEB-INF/wsdl/InspectService.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.3-hudson-390-. -->
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://inspectbox.itirion.com/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="InspectService" targetNamespace="http://inspectbox.itirion.com/">
  <types>
    <xsd:schema>
      <xsd:import namespace="http://inspectbox.itirion.com/" schemaLocation="InspectService_schema1.xsd"/>
    </xsd:schema>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://inspectbox.itirion.com/">

		</xsd:schema>
    </types>
    
  <message name="hello">
    <part element="tns:hello" name="parameters"/>
  </message>
  <message name="helloResponse">
    <part element="tns:helloResponse" name="parameters"/>
  </message>
  
  <message name="getDatesModifications">
    <part element="tns:getDatesModifications" name="parameters"/>
  </message>
  <message name="getDatesModificationsResponse">
    <part element="tns:getDatesModificationsResponse" name="parameters"/>
  </message>
  
  <message name="getChoix">
    <part element="tns:getChoix" name="parameters"/>
  </message>
  <message name="getChoixResponse">
    <part element="tns:getChoixResponse" name="parameters"/>
  </message>
 
  
  
   <message name="getTeam">
    <part element="tns:getTeam" name="parameters"/>
  </message>
  <message name="getTeamResponse">
    <part element="tns:getTeamResponse" name="parameters"/>
  </message>
  
  <message name="getObjeteam">
    <part element="tns:getObjeteam" name="parameters"/>
  </message>
  <message name="getObjeteamResponse">
    <part element="tns:getObjeteamResponse" name="parameters"/>
  </message>
  
  <message name="getNiveaux">
    <part element="tns:getNiveaux" name="parameters"/>
  </message>
  <message name="getNiveauxResponse">
    <part element="tns:getNiveauxResponse" name="parameters"/>
  </message>
  
  <message name="getNiveauObjets">
    <part element="tns:getNiveauObjets" name="parameters"/>
  </message>
  <message name="getNiveauObjetsResponse">
    <part element="tns:getNiveauObjetsResponse" name="parameters"/>
  </message>
  
  <message name="getTypeReponses">
    <part element="tns:getTypeReponses" name="parameters"/>
  </message>
  <message name="getTypeReponsesResponse">
    <part element="tns:getTypeReponsesResponse" name="parameters"/>
  </message>
  
  <message name="getUtilisateurs">
    <part element="tns:getUtilisateurs" name="parameters"/>
  </message>
  <message name="getUtilisateursResponse">
    <part element="tns:getUtilisateursResponse" name="parameters"/>
  </message>
  
  <message name="getLibelleNiveaux">
    <part element="tns:getLibelleNiveaux" name="parameters"/>
  </message>
  <message name="getLibelleNiveauxResponse">
    <part element="tns:getLibelleNiveauxResponse" name="parameters"/>
  </message>
  
  <message name="checkLogin">
    <part element="tns:checkLogin" name="parameters"/>
  </message>
  <message name="checkLoginResponse">
    <part element="tns:checkLoginResponse" name="parameters"/>
  </message>
  
   <message name="checkNew">
    <part element="tns:checkNew" name="parameters"/>
  </message>
  <message name="checkNewResponse">
    <part element="tns:checkNewResponse" name="parameters"/>
  </message>
  
  
  <message name="majdone">
    <part element="tns:majdone" name="parameters"/>
  </message>
  <message name="majdoneResponse">
    <part element="tns:majdoneResponse" name="parameters"/>
  </message>
  
  <message name="setInspections">
    <part element="tns:setInspections" name="parameters"/>
  </message>
  <message name="setInspectionsResponse">
    <part element="tns:setInspectionsResponse" name="parameters"/>
  </message>
  
   <message name="setCloture">
    <part element="tns:setCloture" name="parameters"/>
  </message>
  <message name="setClotureResponse">
    <part element="tns:setClotureResponse" name="parameters"/>
  </message>
  
   <message name="setStatutInac">
    <part element="tns:setStatutInac" name="parameters"/>
  </message>
  <message name="setStatutInacResponse">
    <part element="tns:setStatutInacResponse" name="parameters"/>
  </message>
 
 <message name="setNfc">
    <part element="tns:setNfc" name="parameters"/>
  </message>
  <message name="setNfcResponse">
    <part element="tns:setNfcResponse" name="parameters"/>
  </message>
  
  <message name="setStatusPI">
    <part element="tns:setStatusPI" name="parameters"/>
  </message>
  <message name="setStatusPIResponse">
    <part element="tns:setStatusPIResponse" name="parameters"/>
  </message>
  
    <portType name="InspectDelegate">
    
    <operation name="hello">
      <input message="tns:hello"/>
      <output message="tns:helloResponse"/>
        </operation>
        
    <operation name="getDatesModifications">
      <input message="tns:getDatesModifications"/>
      <output message="tns:getDatesModificationsResponse"/>
    </operation>
    
    <operation name="getChoix">
      <input message="tns:getChoix"/>
      <output message="tns:getChoixResponse"/>
    </operation>
    
    
    
    
    
    <operation name="getTeam">
      <input message="tns:getTeam"/>
      <output message="tns:getTeamResponse"/>
    </operation>
    <operation name="getObjeteam">
      <input message="tns:getObjeteam"/>
      <output message="tns:getObjeteamResponse"/>
    </operation>
      
    <operation name="getNiveaux">
      <input message="tns:getNiveaux"/>
      <output message="tns:getNiveauxResponse"/>
    </operation>
    
    <operation name="getNiveauObjets">
      <input message="tns:getNiveauObjets"/>
      <output message="tns:getNiveauObjetsResponse"/>
    </operation>
    
    <operation name="getTypeReponses">
      <input message="tns:getTypeReponses"/>
      <output message="tns:getTypeReponsesResponse"/>
    </operation>
    
    <operation name="getUtilisateurs">
      <input message="tns:getUtilisateurs"/>
      <output message="tns:getUtilisateursResponse"/>
    </operation>
    
    <operation name="getLibelleNiveaux">
      <input message="tns:getLibelleNiveaux"/>
      <output message="tns:getLibelleNiveauxResponse"/>
    </operation>
    
    <operation name="checkLogin">
      <input message="tns:checkLogin"/>
      <output message="tns:checkLoginResponse"/>
    </operation>


<operation name="checkNew">
      <input message="tns:checkNew"/>
      <output message="tns:checkNewResponse"/>
    </operation>

<operation name="majdone">
      <input message="tns:majdone"/>
      <output message="tns:majdoneResponse"/>
    </operation>

    <operation name="setInspections">
    	<input message="tns:setInspections"></input>
    	<output message="tns:setInspectionsResponse"></output>
    </operation>
    
    <operation name="setCloture">
    	<input message="tns:setCloture"></input>
    	<output message="tns:setClotureResponse"></output>
    </operation>
    
    <operation name="setStatutInac">
    	<input message="tns:setStatutInac"></input>
    	<output message="tns:setStatutInacResponse"></output>
    </operation>
       
    <operation name="setNfc">
    	<input message="tns:setNfc"></input>
    	<output message="tns:setNfcResponse"></output>
    </operation>
    
     <operation name="setStatusPI">
    	<input message="tns:setStatusPI"></input>
    	<output message="tns:setStatusPIResponse"></output>
    </operation>
    
    </portType>
    
    
  <binding name="InspectPortBinding" type="tns:InspectDelegate">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    
    <operation name="hello">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    
    <operation name="getDatesModifications">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    
    <operation name="getChoix">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    
    
    
    
    
    <operation name="getTeam">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    
    <operation name="getObjeteam">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    
       <operation name="getNiveaux">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    
    <operation name="getNiveauObjets">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
        </operation>
        
    <operation name="getTypeReponses">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    
    <operation name="getUtilisateurs">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    
    <operation name="getLibelleNiveaux">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    
    <operation name="checkLogin">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    
    <operation name="checkNew">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    
     <operation name="majdone">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    
    <operation name="setInspections">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    
     <operation name="setCloture">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    
    <operation name="setStatutInac">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    
    <operation name="setNfc">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    
<operation name="setStatusPI">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    
  </binding>
  <service name="InspectService">
    <port binding="tns:InspectPortBinding" name="InspectPort">
      <soap:address location="http://localhost:8080/InspectServiceVSA/InspectPort"/>
    </port>
  </service>
</definitions>
